:root {
    --text-color: #FFF;
    --bg-main-color: #FAFAFA;
    --bg-login-color: linear-gradient(158.54deg, #151515 16.54%, #4F5C70 93.45%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}